.studentaddclass{
    background-color: rgb(87, 75, 59);
    border: 3px dashed rgb(163, 89, 89);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 110%;
    display: flex;
    justify-content: center;


}
label{
    font-weight: bold;
}
input{
    width: 100%;
}
.button-submit{
    background-color: rgb(18, 60, 144);
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    margin: 5px;
}
.button-cancel{
    background-color: rgb(13, 145, 101);
    color: white;
    border-radius: 15px;

    padding: 5px 10px;
    margin: 5px;
}